<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css"/>
</head>

<body>

<section class="page-header">
    <!--<p>Екскурсії Києвом</p>-->
    <div><img class="center-block" id="header" src="{{ site.baseurl }}/images/kiev-excursions.jpg"></div>
    <div class=" text-right">
        <div class="btn-group" role="group" aria-label="...">
            <a role="button" href="#" class="btn btn-default">Головна</a>
            <a role="button" href="{{ site.baseurl }}/tours" class="btn btn-default">Про нас</a>
            <a role="button" href="{{ site.baseurl }}/roubr" class="btn btn-default">Рубрики</a>
            <!--<button type="button" class="btn btn-default">Проекти</button>-->
            <!--<button type="button" class="btn btn-default">Наші партнери</button>-->
            <!--<button type="button" class="btn btn-default">Блог Київ</button>-->
            <!--<button type="button" class="btn btn-default">Відео</button>-->
        </div>
    </div>

</section>

<div class="row">
    <div class="col-sm-3">
        <img src="{{ site.baseurl }}/images/bannerman.jpg" class="img-responsive img-thumbnail">
        <img src="{{ site.baseurl }}/images/street.jpg" class="img-responsive img-thumbnail">
        <img src="{{ site.baseurl }}/images/dom1.jpg" class="img-responsive img-thumbnail">
    </div>
    <div class="col-sm-6 content">
        {{ content }}
    </div>
    <div class="col-sm-3">
        <img src="{{ site.baseurl }}/images/street.jpg" class="img-responsive img-thumbnail">
        <img src="{{ site.baseurl }}/images/dom1.jpg" class="img-responsive img-thumbnail">
        <img src="{{ site.baseurl }}/images/bannerman.jpg" class="img-responsive img-thumbnail">
    </div>
</div>


<div class="page-footer">
    <span>(c) 2016</span>
</div>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>
</html>
